@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--BG-Shade, #F5FCFF);
}
.contact-btn {
    background: var(--BG-Shade, #F5FCFF);
    color: var(--Primary, #5E3BEE);
    font-style: normal;
    font-weight: 400;
    border-radius: 5.333px;
    border: 1.333px solid var(--Primary, #5E3BEE);
    padding: 8.667px 30.667px;
}
.navbar-brand{
    padding-bottom: 1.3125rem;
}
.navbar-brand img{
    height: 62px;
    padding: 1px 0px;
}
.navbar-nav a {
    font-size: 17.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 10px 20px;
    color: var(--Body, #1C1E53) !important;
}

.hero-section-main {
    padding: 133.333px 85.333px;
}

.left-herocontent {
    width: 100%;
}
.left-herocontent p {
    color: var(--Heading-color, #282938);
    font-size: 21.333px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 32px */
}
.left-herocontent p:nth-child(2) {
    color: var(--Heading-color, #282938);
    font-size: 49.667px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 89.6px */
    display: inline-block;
}
.left-herocontent span {
    color: var(--Primary, #5E3BEE);
}
.left-herocontent p:nth-child(3) {
    color: var(--Body, #1C1E53);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
    display: inline-block;
    height: 73.333px;
}
.gettouch-btn {
    border-radius: 5.333px;
    background: var(--Primary, #5E3BEE);
    color: var(--White, #FFF);
    font-size: 18.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 32px */
}
.skills p:first-child {
    color: var(--Heading-color, #282938);
    font-size: 21.333px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 32px */
}
.skills h1 {
    color: var(--Heading-color, #282938);
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 76.8px */
}
.experties {
    width: 100%;
}
.experties .myexperties {
    border-radius: 10.667px;
    border-bottom: 4px solid var(--Primary, #5E3BEE);
    background: var(--BG-Shade, #F5FCFF);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    padding: 25px;
    max-width: 100%;
    min-width: 265px;
    max-height: 350px;
    overflow: hidden;
}
.experties .myexperties img {
    border-radius: 10.667px;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.10);
    padding: 13.333px;
}
.expcontent p:nth-child(2) {
    color: var(--Body, #1C1E53);
    font-family: Roboto;
    font-size: 16.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 32px */
}
.about-section {
    padding: 90px 0px;
    margin-top: 40px;
}
.about-right-section,
.about-left-section {
    width: 100%;
    padding: 0px 30px;
}
.about-left-section {
    margin-top: 70px;
}
.about-left-section p:first-child {
    color: var(--Heading-color, #282938);
    font-size: 21.333px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 32px */
}
.about-left-section h2 {
    color: var(--Heading-color, #282938);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 76.8px */
}
.about-left-section p:nth-child(2) {
    color: var(--Body, #1C1E53);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
    width: 821.333px;
    text-align: justify;
}
.Portfolio-section p {
    color: var(--Heading-color, #282938);
    font-size: 21.333px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 32px */
}
.Portfolio-section h3 {
    color: var(--Heading-color, #282938);
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 76.8px */
}
.portfolio-heading .btn {
    border-radius: 10.667px;
    background: #E62872;
    box-shadow: 0px 1.333px 2.667px 0px rgba(16, 24, 40, 0.05);
    padding: 7.333px 21.333px;
    color: #FFF;
    height: 70px;
    font-family: Roboto;
    font-size: 19.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 32px */
}
.portfolio-heading img {
    padding: 12px 10px;
}
.Portfolio-section .card-title {
    color: var(--Heading-color, #282938);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 44.8px */
}
.Portfolio-section .card-text {
    color: var(--Body, #1C1E53);
    font-size: 17.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 32px */
}
.Portfolio-section .card-body .btn {
    border-bottom: 2.333px solid var(--Primary, #5E3BEE);
    border-width: medium;
}

.Portfolio-section .card-body img {
    padding: 1px 4px
}

.testimonial{
border-radius: 8px;
border: 1.333px solid #006B6A;
display: flex;
padding: 20.667px;
flex-direction: column;
align-items: flex-start;
gap: 10.667px;
flex: 1 0 0;
margin-top: 40px;
}
.testimonials-section p {
    color: var(--Heading-color, #282938);
    font-size: 21.333px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 32px */
}

.testimonials-section h4 {
    color: var(--Heading-color, #282938);
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 76.8px */
}

.testimonials-section ul li {
    list-style: none;
}

.testimonial .user-description {
    color: var(--Body, #1C1E53);
    font-size: 16.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 32px */
}

.testimonial-user {
    position: relative;
}
.testimonial-user img{
width: 60.667px;
height: 70.667px;
}
.testimonial-user p {
    color: var(--Heading-color, #282938);
    font-size: 19.333px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 32px */
    margin-top: 5px;
}

.testimonial-user .company {
    position: absolute;
    left: 70px;
    top: 25px;
    color: var(--Body, #1C1E53);
    font-size: 17.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 32px */
}
.footer-content ul li{
    list-style: none;   
}

.img-footer{
    position: relative;
    top: -17px;
}

.footer-content ul li a{
text-decoration: none;
color: var(--Black, #000);
font-size: 18.333px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 32px */
}

.footer-section{
    margin-top: 117px;
    background: var(--BG-Shade, #F5FCFF);
    border-bottom: 1px solid #282938;
}

/* animation */
.myexperties:hover{
    transform:scaleY(95%);
}
.animate-charcter {
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100% );
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
   }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.zoom-in-out-box {
    animation: zoom-in-zoom-out 1s ease infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .zoom-in-out-box:hover{
    animation: none;
    color: #fff;
  }
  